// .gmnoprint{
//   display: none;
// }
.map-btn{
    float: right;
    top: 95px;
    position: absolute;
    z-index: 1;
    right: 60px;
}

.Reset-btn{
    background-color: #0F3783 !important;
    color: #ffffff !important;
    width: auto;
    padding: 10px !important;
    font-size: 12px !important;
}

.map-height{
    height: 400px;
}